@font-face {
   font-family: '911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY-1';
   font-display: swap;
   src: url('911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY-1/font.ttf');
}
