@font-face {
   font-family: '911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY-1';
   font-display: swap;
   src: url('file:///Users/lauramanrique/Dropbox/OARX/WEB%202020/fonts/911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY-1/font.ttf');
}
